.dashboard {
    display: flex;
    width: 70%;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
        width: 80%;
    }

    @media screen and (max-width: 1000px) {
        width: 95%;
    }

    @media screen and (max-width: 850px) {
        flex-direction: column;
    }
}